<html>
<head>
</head>
<body>
<form action='/' method = 'post'>
<h1> My name is:</h1> <input type='text' name='person[name]'>
<h1> color:</h1> <input type='text' name='person[color]'>

<input type='submit'>
</form>
</body>
</html>
